<div class="errors">
  <%=erb :'_errors'%>
</div>

<form method='post' action='/users'>
  <label for=""> </label>
  <input type="text" name="user[]">
  <br>
  <label for=""> </label>
  <input type="text" name="user[]">
  <br>
  <label for=""> </label>
  <input type="text" name="user[]">
  <br>
  <label for=""> </label>
  <input type="password" name="user[]">
  <br>
  <input type="submit" value="">
</form>